<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Fox Template</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="../../../static/app/css/main.css" />
		<link rel="stylesheet" href="../../../static/app/css/style.css" />
		<link rel="stylesheet" href="../../../static/app/css/nivo-slider.css" />
		<link rel="stylesheet" media="all" href="../../../static/app/css/responsive.css" />
		
		<script src="../../../static/app/js/modernizr-2.6.1.min.js"></script>
		
		<!-- GOOGLE FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200' rel='stylesheet' type='text/css' />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
		
		
		
		
		<!-- TOP -->
		<div th:replace="app/index::top"></div>
		<!-- ENDS TOP -->
			
		
		<!-- HEADER -->
		<div th:replace="app/index::header"></div>
		<!-- ENDS HEADER -->
		
		
		<!-- MAIN -->
		<div id="main" role="main" class="cf">
			
			<!-- posts list -->
			<div id="posts-list" class="cf"> 

				<div th:each="blog:${bloglist}">
				<article class="cf">

					<div class="entry-title">
						<a th:href="'/app/single/'+${blog.titleId}" class="post-heading">[[${blog.title}]]</a>
						<br>
						<div class="entry-date">[[${blog.time}]]</div>
						<!--<a href="single.html#comments" class="comments">161</a>-->
					</div>
					<div class="excerpt">
						[[${blog.description}]]
					</div>	
					<a th:href="'/app/single/'+${blog.titleId}" class="action-button" style="margin-left: 457px;">READ MORE</a>
				</article>
				</div>


				<!-- page-navigation -->
				<div class="page-navigation cf">
					<div class="nav-next"><a href="#">Older</a></div>
					<div class="nav-previous"><a href="#">Newer</a></div>
				</div>
				<!--ENDS page-navigation -->

					
						
		    </div>
			<!-- ENDS posts list -->			
			
			<div th:fragment="sidebar">
				<!-- sidebar -->
				<aside id="sidebar">

					<ul>

						<li class="block">
							<h4 class="heading">最新 博文</h4>
                            <ul th:each="Blogs:${Blogs}">
                                <li class="cat-item"><a th:href="'/app/single/'+${Blogs.titleId}" title="title">[[${Blogs.title}]]<span class="post-counter"> </span></a></li>
                            </ul>
						</li>

						<li class="block">
							<h4 class="heading">分类</h4>
							<ul th:each="cat:${categories}">
								<li class="cat-item"><a th:href="'/app/category/'+${cat.classId}" title="title">[[${cat.classname}]]<span class="post-counter"> </span></a></li>
							</ul>
						</li>
					</ul>

				</aside>
				<!-- ENDS sidebar -->
			</div>
			
		</div>
		<!-- ENDS MAIN -->
		
			
			
			
		<!-- widgets -->
		<div th:replace="app/index::widgets"></div>
		<!-- ENDS widgets -->
			
			
		<!-- FOOTER -->
		<div th:replace="app/index::footer"></div>
		<!-- ENDS FOOTER -->
		
		<!-- JavaScript at the bottom for fast page loading -->
		<div th:replace="app/index::javascript"></div>
		<!-- ENDS javascripts -->
	
	</body>
</html>