<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>博客之家</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="../../../static/app/css/main.css" />
		<link rel="stylesheet" href="../../../static/app/css/style.css" />
		<link rel="stylesheet" href="../../../static/app/css/nivo-slider.css" />
		<link rel="stylesheet" media="all" href="../../../static/app/css/responsive.css" />
		
		<script src="../../../static/app/js/modernizr-2.6.1.min.js"></script>

		<!-- GOOGLE FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200' rel='stylesheet' type='text/css' />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
		
		
		
		<div th:fragment="top">
			<!-- TOP -->
			<div id="top-page" class="cf">

				<!-- search -->
				<form method="get" id="searchform" action="#" class="cf" />
				<input type="submit" id="searchsubmit" value=" " />
				<input type="text" value="" name="s" id="s" placeholder="Search" />
				</form>
				<!-- ENDS search -->

				<!-- Social bar -->
				<ul id="social-bar" class="cf">
					<li class="dribbble"><a href="http://www.dribbble.com" title="Dribbble"></a></li>
					<li class="facebook"><a href="http://www.facebook.com" title="Facebook"></a></li>
					<li class="forrst"><a href="http://www.forrst.com" title="forrst"></a></li>
					<li class="googleplus"><a href="https://plus.google.com/109030791898417339180/posts" title="googleplus"></a></li>
					<li class="twitter"><a href="http://www.facebook.com" title="twitter"></a></li>
				</ul>
				<!-- ENDS Social bar -->

			</div>
			<!-- ENDS TOP -->
		</div>

			
		<div th:fragment="header">
			<!-- HEADER -->
			<header class="cf">

				<!-- nav -->
				<nav class="cf">

					<!-- left nav -->
					<ul id="left-nav" class="sf-menu">
						<li style="right: 56px;"><a th:href="@{/app/blog.html?size=5&sort=time,desc}">BLOG</a></li>
						<li class="current-menu-item" style="right: 116px;"><a th:href="@{/app/index.html}">HOME</a></li>
					</ul>
					<!-- ends left nav -->

					<!-- right nav -->
					<ul id="right-nav" class="sf-menu">
						<li style="left: 79px;"><a th:href="@{/app/file.html}">FILE</a></li>
					</ul>
					<!-- ENDS right nav -->

				</nav>
				<!-- nav -->

				<!-- logo -->
				<div id="logo">
					<a th:href="@{/app/index.html}"><img src="../../../static/app/img/logo.png" alt="" /></a>
				</div>
				<!-- ENDS logo -->


			</header>
			<!-- ENDS HEADER -->
		</div>

		
		<div class="inner_copyright">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="网站模板">网站模板</a></div>
		<!-- MAIN -->
		<div id="main" role="main" class="cf">
		
			
			<!-- SLIDER -->
			<div class="slider-wrapper theme-default">
	            <div id="slider" class="nivoSlider">
	                <img src="../../../static/app/img/dummies/slides/01.jpg" alt="" />
	                <img src="../../../static/app/img/dummies/slides/02.jpg" alt="" />
	                <img src="../../../static/app/img/dummies/slides/03.jpg" alt="" />
	            </div>
	        </div>
			<!-- ENDS SLIDER -->
			
			<!-- tagline -->
			<div class="tagline">SHOWCASE YOUR WORK WITH FOX</div>
			<!-- ENDS tagline -->
			
			<!-- featured -->
			<ul class="feature cf">


				<li th:each="blog:${latestblog}">
					<a class="thumb" th:href="'/app/single/'+${blog.titleId}" >
						<img th:src="@{${blog.photosrc}}" alt="Thumbnail" />
						<div class="img-overlay">READ MORE</div>
					</a>
                    <a th:href="'/app/single/'+${blog.titleId}" class="title">[[${blog.title}]]</a>
					<div class="categories"><a href="#">[[${blog.classificationByClassId.classname}]]</a></div>
					<div class="excerpt">[[${blog.description}]]</div>
					<a th:href="'/app/single/'+${blog.titleId}" class="action-button">READ MORE</a>
				</li>


			</ul>
			<!-- ENDS featured -->
			
		</div>
		<!-- ENDS MAIN -->
		
			
			
		<div th:fragment="widgets">
			<!-- widgets -->
			<div class="widget-holder">
				<div class="left-fold"></div>
				<div class="right-fold"></div>
				<ul class="feature cf cf">
					<li class="first-col">

						<div class="widget-block">
							<h4>基本信息</h4>
							<br>
							<p>
								<strong>姓名</strong><br />
                                [[${user.name}]]
								<br />
								<strong>城市</strong><br />
                                [[${user.city}]]
								<br />
								<strong>爱好</strong><br />
                                [[${user.interest}]]
                                <br />
							</p>
						</div>
					</li>

					<li class="second-col">

						<div class="widget-block">
							<h4>联系方式</h4>
							<br>
							<p>
								<strong>Email</strong><br />
                                [[${user.eMail}]]
                                <br />
								<strong>QQ</strong><br />
                                [[${user.qq}]]
                                <br />
								<strong>电话</strong><br />
                                [[${user.phone}]]
                               <br />
							</p>
						</div>

					</li>

					<li class="third-col">

						<div class="widget-block">
							<h4>个人简介</h4>
							<br>
							<p>[[${user.introduce}]]</p>

						</div>

					</li>


				</ul>
			</div>
			<!-- ENDS widgets -->
		</div>

		<div th:fragment="footer">
			<!-- FOOTER -->
			<footer class="cf">
				<div id="bottom-left">
					<script src="../../../static/app/js/chirp.min.js"></script>
					<script>Chirp({user:'ansimuz',max:1})</script></div>
			</footer>
			<!-- ENDS FOOTER -->
		</div>

		<div th:fragment="javascript">
			<!-- JavaScript at the bottom for fast page loading -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="../../../static/app/js/jquery-1.8.0.min.js"><\/script>')</script>
			<!-- superfish -->
			<script src="../../../static/app/js/superfish-1.4.8/js/hoverIntent.js"></script>
			<script src="../../../static/app/js/superfish-1.4.8/js/superfish.js"></script>
			<script src="../../../static/app/js/superfish-1.4.8/js/supersubs.js"></script>
			<!-- ENDS superfish -->
			<script src="../../../static/app/js/jquery.nivo.slider.js"></script>
			<script src="../../../static/app/js/tabs.js"></script>
			<script src="../../../static/app/js/css3-mediaqueries.js"></script>
			<script src="../../../static/app/js/jquery.isotope.min.js"></script>
			<script src="../../../static/app/js/custom.js"></script>
			<!-- ENDS javascripts -->
		</div>
	</body>
</html>